.t-hd01{
    padding:70px 0;
}
.sub-transaction {
    .t-hd01 {
        img {
            height: 30px;
            @include forsp {
                width: auto;
                height: 20px;
            }
        }
    }
}
.sub-transaction_inner{
    margin:20px auto 50px;
    max-width: 1000px;
    width:100%;
    @include forsp {
        width: 90%;
        margin: 20px auto 0px;
    }
}
.transaction-tb{
    width:95%;
    margin:45px auto 0;
    @include forsp{
        margin:10px auto 20px;
    }
    table{
        width:100%;
        tr{
            border-bottom: 1px solid #5a9cd5;
            @include forsp {
                &:nth-child(odd){
                    border:none;
                }
            }
            th{
                font-size: 14px;
                color:#5a9cd5;
                padding:20px;
                text-align:left;
                width: 30%;
                line-height: 1.6;
                @include forsp {
                    width:100%;
                }
            }
            
            td{
                font-size: 14px;
                columns: #5e5e5e;
                padding:20px;
                text-align: left;
                width:70%;
                line-height: 1.6;
                @include forsp {
                    width:100%;
                    padding-top: 0;
                }
            }
        }
    }
}