.terms {
    .t-hd01 {
        img {
            height: 30px;
            @include forsp {
                width: auto;
                height: 20px;
            }
        }
    }
    .breadcrumbs {
        margin-bottom: 20px;
    }
    .inner {
        margin: 20px auto 0px;
        @include forsp {
            width: 90%;
        }
    }
}

.ul-style {
    list-style: disc;
    font-size: 14px;
    padding: 20px 0 0 17px;
}

.ol-lowalpha {
    li {
        &:after {
            content: counter(custom, lower-alpha) ".";
        }
    }
}