.inner {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.sub-inner {
    max-width: 900px;
    margin: 0 auto;
}

.cmn-ttl01 {
    display: block;
    padding: 40px 0;
    background-color: #5A9CD5;
    text-align: center;
    img {
        max-width: 400px;
        margin: 0 auto;
    }
}

.mb-20 {
    margin-bottom: 20px;
}

.cmn-ttl02 {
    padding: 25px 0;
    margin: 20px 0 40px;
    background-color: #5A9CD5;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    position: relative;
    img {
        width: auto;
        height: 30px;
        margin: 0 auto;
        display: block;
        @include forsp {
            height: 20px;
        }
    }
    &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -17px;
        border-style: solid;
        border-width: 17px 20px 0 20px;
        border-color: #5A9CD5 transparent transparent transparent;
        @include transform(translateX(-50%));
    }
}

.breadcrumbs p {
    font-size: 14px;
    columns: #5e5e5e;
}

.sub-pagettl {
    width: 100%;
    background-color: #5A9CD5;
    padding: 50px 0;
    margin-bottom: 30px;
    @include forsp {
        margin-bottom: 20px;
    }
    img {
        display: block;
        margin: 0 auto;
        width: auto;
        height: 30px;
        @include forsp {
            height: 20px;
        }
    }
}

.breadcrumbs p{
  font-size: 14px;
  columns: #5e5e5e;
}