.menu-trigger {
  display: inline-block;
  position: relative;
  right: 5.5%;
  width: 60px;
  height: 60px;
  background-color: #5A9CD5;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
  z-index: 99;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  &.active {
    span {
      width: 70%;
    }
  }
  span {
    display: block;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    box-sizing: border-box;
    z-index: 99;
    position: absolute;
    left: 0;
    right: 0;
    width: 50%;
    margin: 0 auto;
    height: 3px;
    background-color: #fff;
    border-radius: 50px;
    &:nth-of-type(1) {
      top: 20px;
    }
    &:nth-of-type(2) {
      top: 29px;
    }
    &:nth-of-type(3) {
      bottom: 20px;
    }
  }
  @include forsp {
    position: fixed;
  }
}

.menu-trigger.active {
  span {
    &:nth-of-type(1) {
      top: 10px;
      -webkit-transform: translateY(20px) rotate(-45deg);
      transform: translateY(20px) rotate(-45deg);
      -moz-transform: translateY(20px) rotate(-45deg);
      -ms-transform: translateY(20px) rotate(-45deg);
      -o-transform: translateY(20px) rotate(-45deg);
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:nth-of-type(3) {
      bottom: 7px;
      -webkit-transform: translateY(-20px) rotate(45deg);
      transform: translateY(-20px) rotate(45deg);
      -moz-transform: translateY(-20px) rotate(45deg);
      -ms-transform: translateY(-20px) rotate(45deg);
      -o-transform: translateY(-20px) rotate(45deg);
    }
  }
}

.noscroll {
  overflow: hidden;
}

.nav-list.toggle {
  display: block;
}

.nav-list {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #5A9CD5;
  overflow: auto;
  -webkit-transition: background-color 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  z-index: 2;
}

.nav-list ul {
  width: 60%;
  margin: 0 auto;
}

.nav-list.toggle ul {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  @include forsp {
    top: 50%;
  }
}

.nav-list li {
  padding-bottom: 10px;
  &.under-nav {
    padding-top: 30px;
  }
}

.nav-list li:last-child {
  border-bottom: 0px;
}

.nav-list li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  @include forsp {
    font-size: 15px;
    text-align: center;
  }
}

.nav-contact {
  position: absolute;
  bottom: 0;
  padding: 50px 0;
  background: #fff;
  width: 100%;
  @include forsp {
    padding: 0;
    background: transparent
  }
  .d_fl {
    width: 60%;
    margin: 0 auto;
    align-items: center;
    @include forsp {
      width: 100%;
    }
    a {
      width: 35%;
      @include forsp {
        width: 50%;
      }
    }
    .nav-tel {
      margin-right: 30px;
      @include forsp {
        margin-right: 0;
      }
    }
  }
}